body{
    background: rgb(241, 198, 207);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(255, 168, 180);
    padding: 20px;
    margin-top: 0;
}
.menu a{
    font-weight: bold;
    color: rgb(18, 1, 27)
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.flash{
    padding: 10px;
    width: 300px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: rgb(173, 224, 248);
}
.flash.error{
    border: 1px solid #FF5343;
    background: rgb(247, 2, 55);
}
.re{
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}
p.title{
    margin: 10;
    font-weight: bold;
}
p.title a{
    display: block;
}
p.title:hover{
    background: rgb(255, 198, 207);
}