{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}


{% block content %}
{{ super() }}
<hr>
<h3>У нас большое количество услуг направленных на поддержание вашей красоты и уходу</h3>
<ul>
    {% for post in posts %}
    <li>
        <p class="title">
            <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a>
        </p>
            <div class="re">{{ post.text[:150] | striptags }}</div>
            <div class="re">{{ post.price }}</div>

    </li>
    {% endfor %}
</ul>
{% endblock %}